.card-view {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
  transition: 0.3s ease-in;
}

.card-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header-icon {
  position: absolute;
  left: 1%;
  top: 4%;
}

.header-icon {
  color: #ffffff;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6abcea;
  opacity: 0.85;
}

.card-view:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.card-movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.card-movie-content-head,
.card-movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-movie-title {
  font-size: 22px;
  margin: 0;
}

.ratings {
  font-weight: 600;
}

.ratings span {
  color: #2196f3;
}

.card-movie-info {
  margin-top: 1em;
}

.movie-running-time {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.movie-running-time:first-of-type {
  text-align: left;
}

.movie-running-time:last-of-type {
  text-align: right;
}

.movie-running-time label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
  font-size: 9px;
}

.movie-running-time span {
  font-weight: 700;
  font-size: 11px;
}
